* {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(bg_img2.jpeg);
    background-position: center;
}

header {
    display: flex;
    padding: 10px 5px;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.logo_container {
    display: flex;
    align-items: center;
    color: white;
}

.logo_container a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0px 10px 0px 10px;
}

.menu_bar {
    display: flex;
}

.menu_bar button {
    background: transparent;
    border: none;
    color: white;
}